*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.aboutfood{
	width:100%;
	height:85%;
	padding:150px 0px;

}
.aboutfood2{
	width:100%;
	height:85%;
	padding:500px 0px;
	
}
.aboutfood2 img{
	height: auto;
	width: 300px;
	border-radius:45%
	
}
.aboutfood img{
	height: auto;
	width: 300px;
	border-radius:45%;
}

.text-food{
	width: 550px;
}
.mainfood{
	width: 1130px;
	max-width: 95%;
	margin:0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}
.text-food h1{

	font-family: ALL ABOUT FRIENDS;
	font-size: 70px;
	color: #F0B27A ;
	font-weight: 650;
	text-transform: uppercase;
	margin-bottom:45px;
}
.text-food h5{
	color:#CD853F;
	font-size:20px;
	font-weight:bold;
	text-transform: capitalize;
	margin-bottom:20px;
	letter-spacing: 2px;
}
span {
	color:#DEB887;
}
.text-food p {
	color:#696969;
	letter-spacing: 2px;
	font-size: 18px;
	line-height: 2.1;
	margin-bottom: 45px;
}
