body{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container-contain {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 8%;
}
.photos {
	display: grid;
	grid-template-columns: auto auto auto; 
	grid-gap: 30px;
	
}
.photos img{
	width:100%;
	border:10px solid white;
	border-radius:10%;
	
}
.container-text {
	font-family: arial;
	position:relative;
	margin:0 auto;
}
.container-text .content {
	position:absolute;
	bottom:0;
	background: rgb(0,0,0);
	background: rgb(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 320px;
	padding: 20px;
}
