*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	
}
.aboutdad{
	width:100%;
	height:auto;
	padding:55px 0px;
		
}
.aboutdad img{
	height: auto;
	width: 350px;

}

.text{
	width: 950px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin:0 auto;
	display: flex;
	align-items: center;
	justify-content: center;

}
.text h1{
	color:#873600 ;
	font-size:40px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom:45px;
}
.text h5{
	color:#CD853F;
	font-size:20px;
	font-weight:bold;
	text-transform: capitalize;
	margin-bottom:20px;
	letter-spacing: 2px;
	text-align: center;
}
span {
	color:#F5CBA7;
}
.text p {
	color:#696969;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
	font-size:40px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom:45px;
}
